<h2>Sign up</h2>
<p> After reviewing our <%= link_to 'User Policy', policies_path %>, you can sign up using an account from 
one of the following providers:</p>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign up with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%>
<br/><br/>
<p>Or, create a new account by fill in the information below.  </p>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username, :required => true, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <% if f.object.password_required? %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>


