<% @comparisons = Comparison.where("study_id = ?", @study.id) %>

<!-- possible approach - a hash where that has the id of each location as the key, and the chosen/rejected
numbers as the values in an array -->

<% @votes = Hash.new{|hash, key| hash[key] = Array.new} %>
<% @comparisons.each do |comparison| %>
<!-- if chosen id is already in the hash, increment the chosen count; if not, add it and increment  -->
  <% if @votes.has_key?(comparison.chosen_location_id) %>
    <% @votes[comparison.chosen_location_id][0] += 1 %>
  <% else %> <!-- initialize it -->
    <% @votes[comparison.chosen_location_id][0] = 1 %>
    <% @votes[comparison.chosen_location_id][1] = 0 %>
  <% end %>
  <% if @votes.has_key?(comparison.rejected_location_id) %>
    <% @votes[comparison.rejected_location_id][1] += 1 %>
  <% else %> <!-- initialize it -->
    <% @votes[comparison.rejected_location_id][0] = 0 %>
    <% @votes[comparison.rejected_location_id][1] = 1 %>
  <% end %>
<% end %>

<table class="table table-striped table-hover">
  <tr>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Times Picked (out of total votes)</th>
    <th>Weighted percent</th>
  </tr>
  <% @votes.each do |spot, counts| %>
  <!-- get location info -->
    <% @location = Location.find(spot) %>
    <tr>
    <td width="150"><a href="/locations/<%= @location.id %>"><img src="http://maps.googleapis.com/maps/api/streetview?size=150x80&location=<%= @location.latitude %>,%20<%= @location.longitude %>&sensor=false" /></a></td>
    <td><%= @location.latitude.round(4) %></td>
    <td><%= @location.longitude.round(5) %></td>
    <td><%= counts[0] %> / <%= counts[0].to_i + counts[1].to_i %></td>
    <td><%= (counts[0].to_i / ((counts[0].to_i + counts[1].to_i).nonzero? || 1) * 100).round %> %</td>
    </tr>
  <% end %>
</table>