
<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <% if show_user  %>
      <th>User</th>
    <% end %>
    <th># Regions</th>
    <th># Studies</th>
    <th>Public</th>
  </tr>

<% @region_sets.each do |region_set| %>
  <tr>
    <td><%= link_to region_set.name, region_set %></td>
    <% if show_user  %>
      <td><%= region_set.user_id %></td>
    <% end %>
    <td><%= region_set.regions.count %></td>
    <td><%= region_set.studies.count %></td>
    <td><%= region_set.public %></td>
  </tr>
<% end %>
</table>
