<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @region_set.user_id %>
</p>

<p>
  <b>Slug:</b>
  <%= @region_set.slug %>
</p>

<p>
  <b>Name:</b>
  <%= @region_set.name %>
</p>

<p>
  <b>Public:</b>
  <%= @region_set.public %>
</p>


<%= link_to 'Edit', edit_region_set_path(@region_set) %> |
<%= link_to 'Back', region_sets_path %>
