<p id="notice"><%= notice %></p>

<p>
  <b>Image Set:</b>
  <%= @region_set_membership.region_set_id %>
</p>

<p>
  <b>Area:</b>
  <%= @region_set_membership.region_id %>
</p>


<%= link_to 'Edit', edit_region_set_membership_path(@region_set_membership) %> |
<%= link_to 'Back', region_set_memberships_path %>
