<%= simple_form_for(@user) do |f| %>
  <%= f.input :name,
              :input_html => { :style => 'width:400px;'},
              :hint => 'Your name' %>
  <%= f.input :email,
              :input_html => { :style => 'width:400px;'},
              :hint => 'Your email address' %>
  <% if current_user.admin %>
  <%= f.input :admin,
              :input_html => { :style => 'width:400px;'},
              :hint => 'Is this person an admin or not' %>
  <%= f.input :blocked,
              :input_html => { :style => 'width:400px;'},
              :hint => 'Is this account blocked or not' %>
  <% end %>
  <% if @user.id %>
    <button type="submit" class="btn btn-primary" >
      <i class="icon-ok icon-white"></i> Save
    </button>
  <% end %>

<% end %>

