<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :username, :required => true %>

    <%= f.input :email, :required => false %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <% if f.object.encrypted_password.present? %>
        <fieldset>
          <legend>Change Password:</legend>
        <%= f.input :password, label: 'New Password', :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
        <%= f.input :password_confirmation, label: 'Confirm New Password', :required => false %>
        </fieldset>
    <% end %>
  </div>

    <br/>

    <%= f.button :submit, "Update" %> &nbsp;
    <%= link_to "Back", :back %>

<% end %>


