<% if controller.can_edit? || controller.can_view_results? %>

  <div class="study-info">
    <%= render 'studies/status', :study => @study %>
  </div>

  <% if !current_user.nil? && current_user.admin %>
    <div class="study-info" style="margin-right:10px;">
      <% if @study.promoted %>
        <button type="button" class="btn btn-inverse study-close" onclick="changePromoteStatus(<%= @study.id %>, false)">
          <i class="icon-stop icon-white"></i> Demote
        </button>
      <% else %>
        <button type="button" class="btn btn-primary study-close" onclick="changePromoteStatus(<%= @study.id %>, true)">
          <i class="icon-ok icon-white"></i> Promote
        </button>
      <% end %>
    </div>
  <% end %>
<% end %>
<h1><%= @study.name %></h1>

<% if controller.can_edit? || controller.can_view_results? %>

  <script type="text/javascript">
    /**
     * This goes with the study status partial
     */
    function changeActiveStatus(id, status) {
      // which function do we call
      update = status ? ss.Study.prototype.open : ss.Study.prototype.close;

      // Do the update
      update(id,
          function (data, status, xhr) {
            // $('.study-info').load('/studies/' + id + '/status');
            // To many things need reloaded (curate, add new region link, vote, etc)
            location.reload();
          },
          function (xhr, status, error) {
            errors = JSON.parse(xhr.responseText);
            messages = '<ul>';
            for (key in errors) {
              for (i = 0; i < errors[key].length; i++) {
                messages += '<li>' + errors[key][i] + '</li>';
              }
            }
            messages += '</ul>';

            $("#study-active-error-list").html(messages);
            $('#study-active-errors-modal').modal('toggle');
          });
    }
    function changePromoteStatus(id, status) {
      // which function do we call
      update = status ? ss.Study.prototype.promote : ss.Study.prototype.demote;

      // Do the update
      update(id,
          function (data, status, xhr) {
            location.reload();
          },
          function (xhr, status, error) {
            errors = JSON.parse(xhr.responseText);
            messages = '<ul>';
            for (key in errors) {
              for (i = 0; i < errors[key].length; i++) {
                messages += '<li>' + errors[key][i] + '</li>';
              }
            }
            messages += '</ul>';

            $("#study-active-error-list").html(messages);
            $('#study-active-errors-modal').modal('toggle');
          });
    }
  </script>

  <!-- active li needs class active -->
  <!-- security - tabs should only show if there is a choice -->
  <ul class="nav nav-tabs">
    <li class=<%= "active" if url_for() == url_for(:controller => "studies", :action => "vote", :id => @study) %>>
      <a href="<%= url_for :controller => "studies", :action => "vote", :id => @study %>">
        <i class="icon-ok" style=""></i> Vote</a>
    </li>
    <!-- security - analyze should only show if study is public -->

    <% if controller.can_view_results? %>
      <li class=<%= "active" if [url_for(:controller => "studies", :action => "results", :id => @study), url_for(:controller => "studies", :action => "region_results", :id => @study), url_for(:controller => "studies", :action => "heatmap", :id => @study), url_for(:controller => "studies", :action => "download", :id => @study)].include?(url_for()) %>>
        <a href="<%= url_for :controller => "studies", :action => "results", :id => @study %>">
          <i class="icon-signal" style=""></i> Analyze</a>
      </li>
    <% end %>
    <!-- security - edit should only show if study is public -->
    <!-- MF - added check for owner -->
    <% if controller.can_edit? %>
      <li class="<%= 'active' if url_for() == url_for(:controller => "studies", :action => "edit", :id => @study) %>">
        <a href="<%= url_for :controller => "studies", :action => "edit", :id => @study %>">
          <i class="icon-edit" style=""></i> Edit Study Info</a>
      </li>
    <% end %>
    <!-- security - curate should only show if study is public -->
    <!-- MF - added check for owner -->
    <% if controller.can_edit? %>
      <% if @study.region_set.nil? %>
        <li>
          <a href="<%= url_for(:controller => "regions", :action => "new") + '?study_id=' + @study.id.to_s() + '&create_set=true' %>">
            <i class="icon-plus-sign" style=""></i> Add Area</a>
        </li>
      <% end %>
      <% if !@study.region_set.nil? %>
        <li class="dropdown <%= 'active' if url_for() == url_for(:controller => "studies", :action => "curate", :id => @study) %>">
          <a class="dropdown-toggle" data-toggle="dropdown" href="<%= url_for :controller => "studies", :action => "edit", :id => @study %>">
            <i class="icon-th" style=""></i> Edit Area Info<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% @study.region_set.regions.each do |region| %>
              <li>
                <a href="<%= url_for :controller => "studies", :action => "curate", :id => @study %>?region_id=<%= region.id %>">
                  <%= region.name %></a>
              </li>
            <% end %>
            <% if @study.active.nil? %>
              <li>
                <a href="<%= url_for(:controller => "regions", :action => "new") + '?study_id=' + @study.id.to_s() + '&region_set_id=' + @study.region_set.id.to_s %>">
                  Add New Area</a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    <% end %>

    <!-- check if survey was enabled -->
    <% if @study.has_survey? %>
      <li class="dropdown <%= 'active' if survey_edit_tab_active? @study.survey_id %>">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-bullhorn"></i> Edit Survey
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Survey info', new_or_edit_survey_path(@study) %>
          </li>
          <% if @study.survey_id.present? %>
          <li>
            <%= link_to('Survey Questions', survey_questions_path(@study.survey_id)) %>
          </li>
          <% end %>
        </ul>
      </li>

    <% end %>


  </ul>
<% end %>
