<div style="float:right;width:200px;">
  <small>
  Slug: <%= @study.slug %><br />
  User: <%= @study.user.name %>
  </small>
</div>
<h1><%= @study.name %></h1>
<!-- active li needs class active -->
<!-- security - tabs should only show if there is a choice -->
<ul class="nav nav-tabs">
  <li><%= link_to "Vote", :controller => "studies", :action => "vote", :id => @study %></li>
  <!-- security - analyze should only show if study is public -->
  <li><%= link_to "Analyze", :controller => "studies", :action => "analyze", :id => @study %></li>
  <!-- security - edit should only show if study is public -->
  <li><%= link_to "Edit", :controller => "studies", :action => "edit", :id => @study %></li>
</ul>
