<% if @studies.empty? %>
  <p><span class="no-studies">There are no studies created yet.  To create a study, </span>
  <% if !user_signed_in? %>
    <span>log in or create an account by clicking on Login at the top right.  </span>
  <% else %>
    <span>click on New Study below.  </span></p>
  <% end %>
<% else %>

  <table class="table table-striped table-hover">
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "question", "Which image ..." %></th>
      <% if @mine.nil? %>
      <th><%= sortable "user_id", "User" %></th>
      <% end %>
      <th># Areas</th>
      <th># Votes</th>
      <th><%= sortable "active", "Status" %></th>
  </tr>
  <% @studies.each do |study| %>
    <tr>
      <!-- only show draft studies to logged in owners -->
      <% if study.active.nil? %>
        <% if user_signed_in? && study.user_id == current_user.id %>
          <td><%= link_to study.name, url_for(:controller => "studies", :action => "vote", :id => study) %></td>
          <td><%= link_to study.question, study %>?</td>

          <% if @mine.nil? %>
          <td><%= study.user_id %></td>
          <% end %>

          <td><%= study.region_set.regions.count %></td>
          <td><%= study.comparisons.count %></td>
          <td><span class="label label-warning">Not Launched</span></td>
        <% end %>
      <% elsif study.active %>
        <td><%= link_to study.name, url_for(:controller => "studies", :action => "vote", :id => study) %></td>
        <td><%= link_to study.question, study %>?</td>
        <% if @mine.nil? %>
        <td><%= study.user_id %></td>
        <% end %>
        <td><%= study.region_set.regions.count %></td>
        <td><%= study.comparisons.count %></td>
        <td><span class="label label-success">Open</span></td>
      <% else %>
        <td><%= link_to study.name, url_for(:controller => "studies", :action => "vote", :id => study) %></td>
        <td><%= link_to study.question, study %>?</td>
        <% if @mine.nil? %>
        <td><%= study.user_id %></td>
        <% end %>
        <td><%= study.region_set.regions.count %></td>
        <td><%= study.comparisons.count %></td>
        <td><span class="label label-important">Closed</span></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>
