
<table>
  <tr>
    <th>User</th>
    <th>Slug</th>
    <th>Question</th>
    <th>Public</th>
    <th></th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><%= study.user_id %></td>
    <td><%= study.slug %></td>
    <td><%= study.question %></td>
    <td><%= study.public %></td>
    <td>
      <%= link_to 'Show', study %>
      <% if study.editable? %>
      | <%= link_to 'Edit', edit_study_path(study) %>
      | <%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
