<% if @studies.empty? %>
  <p><span class="no-studies">There are no studies created yet.  To create a study, </span>
  <% if !user_signed_in? %>
    <span>log in or create an account by clicking on Login at the top right.  </span>
  <% else %>
    <span>click on Create a New Study below.  </span></p>
  <% end %>
<% else %>

  <table class="table table-striped table-hover">
    <tr>
      <th><%= sortable_column "Name", :column => "name" %></th>
      <th>Question</th>
      <% if @mine.nil? %>
      <th>User</th>
      <% end %>
      <th># Areas</th>
      <th># Votes</th>
      <th><%= sortable_column "Public", :column => "public" %></th>
      <th><%= sortable_column "Status", :column => "active" %></th>
  </tr>
  <% @studies.each do |study| %>
    <tr>
      <td><%= link_to study.name, url_for(:controller => "studies", :action => "vote", :id => study) %></td>
      <td><%= link_to study.question, url_for(:controller => "studies", :action => "vote", :id => study) %>?</td>
      <% if @mine.nil? %>
        <td><%= study.user.username %></td>
      <% end %>
      <td><%= study.region_set.regions.count %></td>
      <td><%= study.comparisons.count %></td>
      <td><% if study.public %> Yes <% else%> No <% end%></td>
      <td>
        <% if study.active.nil? %>
          <span class="label label-warning">Not Launched</span>
        <% elsif study.active %>
          <span class="label label-success">Open</span>
        <% else %>
          <span class="label label-important">Closed</span>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
<%= will_paginate(@studies) %>
