
<table class="table table-striped table-hover">
  <tr>
    <% if show_user  %>
      <th>User</th>
    <% end %>
    <th>Name</th>
    <th>Which is... ?</th>
    <th>Public</th>
    <th>Region Collection</th>
    <th>Comparisons</th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <% if show_user  %>
      <td><%= study.user_id %></td>
    <% end %>
    <td><%= link_to study.name, study %></td>
    <td><%= link_to study.question, study %></td>
    <td><%= study.public %></td>
    <td><%= study.region_set ? link_to(study.region_set.name, study.region_set) + ' (' + study.region_set.regions.count.to_s + ')' : '' %></td>
    <td><%= study.comparisons.count %></td>
  </tr>
<% end %>
</table>
