<%= render 'header', :study => @study %>



<div style="float:left;width:400px;margin-right:40px;">
  <h2><span id="region_name_plain">Area: <%= @region.name %></span></h2>

  <%= render 'regions/base_form', :region => @region %>

  <button type="button" class="btn btn-primary" onclick="saveRegion();">
    <i class="icon-ok icon-white"></i> Save
  </button>
  <button type="button" class="btn btn-primary" onclick="$('#delete-region-modal').modal('toggle')">
    <i class="icon-trash icon-white"></i> Delete
  </button>
  <span id="save-notice" class="alert success fade" data-alert="alert"></span>
  </div>
  <div style="float:left;width:500px;">
    <div id="map" class="map" style="float:right; width:500; height:350;"></div>
    <button type="button" class="btn btn-primary" onclick="curate.addPoints();">
      <i class="icon-search icon-white"></i> Find
    </button>
    a total of
    <input id="quantity" type="textfield" style="width:50px;" value="<%= @region.locations.length %>" />
    points at least
    <input id="proximity" type="textfield" style="width:50px;" value="50" />
    meters apart.
    <div style="font-size:larger;">Found <strong><span id="location-count"><%= @region.locations.length %></span></strong> images.</div>

  </div>
</div>

<div id="delete-region-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3>Are you sure?</h3>
  </div>
  <div class="modal-body" align="left">
    <p>
      Keep in mind:
      <ul>
        <li>Deleting an area is irreversible.</li>
        <li>Any votes referencing images in this area will be lost.</li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <a id="delete_image" class="btn btn-primary cursor" onclick="curate.deleteRegion();">Confirm Delete</a>
    <a class="btn cursor" data-dismiss="modal" id="close_modal">Cancel</a>
  </div>
</div>

<div id="edit-location-modal" style="width:650px;" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h3>Edit Image</h3>
  </div>
  <div class="modal-body" align="left">
    <div id="panorama" style="float:left;width:400px;height:300px"></div>
    <div style="float:left;width:150px;margin-left:20px">
      <div id="panorama-map" style="width:200px;height:150px;margin-bottom:20px;"></div>
      <p>Rotate to the desired view by clicking and dragging on the image.</p>
    </div>
  </div>
  <div class="modal-footer" align="left">
    <a id="save_changes" class="btn btn-primary cursor" onclick="curate.updateLocation()">Save Changes</a>
    <a id="delete_image" class="btn cursor" onclick="curate.deleteLocation()">Delete Image</a>
    <a class="btn cursor" data-dismiss="modal" id="close_modal">Close</a>
  </div>
</div>
<fieldset class="clearfix" style="clear:both;margin-top:30px;">
  <legend>Click on an image to rotate or remove it.</legend>
  <div id="images" class="curate thumbs">
  <% @locations.order('id desc').each do |location| %>
    <a id="location-<%= location.id %>" class="thumbnail cursor" data-toggle="modal"
       onclick="curate.editLocation('<%= location.id %>', <%= location.latitude %> , <%= location.longitude %>, <%= location.heading %>, <%= location.pitch %>)">
      <img class="img-polaroid" src="http://maps.googleapis.com/maps/api/streetview?size=200x150&location=<%= location.latitude %>,<%= location.longitude %>&heading=<%= location.heading %>&pitch=<%= location.pitch %>&sensor=false" />
    </a>
  <% end %>
  </div>

</fieldset>
<%= will_paginate(@locations) %>

<div class="modal hide fade" id="delete-location-modal" align="left">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Confirm Delete</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this image?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" onclick="curate.deleteLocationCancel();">Cancel</a>
    <a id="delete-locatio-confirm" class="btn btn-primary" onclick="curate.deleteLocationConfirm();">Delete Image</a>
  </div>
</div>


<script type="text/javascript">

  // A handler for the curate process
  var curate;

  window.onload = function () {

    // Center of our map
    var center = new google.maps.LatLng(<%= @region.latitude %>, <%= @region.longitude %>);

    // create polygon path
    var path = new google.maps.MVCArray;
    <% @region.polygon_path.each do |latlng| %>
    path.push(new google.maps.LatLng(<%= latlng[:lat] %>, <%= latlng[:lng] %>));
    <% end %>

    // Create and initialize a curate handler
    curate = new ss.handler.Curate(<%= @region.id %>);
    curate.initialize('map', center, <%= @region.zoom %>, path);

    // Create existing markers for our map
    <% @region.locations.each do |location| %>
    l = new ss.Location(
      <%= location.id %>, <%= location.latitude %>, <%= location.longitude %>,
      <%= location.heading %>, <%= location.pitch %>);
    point = new google.maps.LatLng(l.latitude, l.longitude);
    curate.polygonMap.addMarker(l.id, point, l);
    <% end %>

  }

</script>

