<%= render 'header', :study => @study %>

<div id="map" style="float:right; width:500; height:350;"></div>
<h2><%= @region.name %></h2>
<p>
  <small>
    Slug: <%= @region.slug %><br />
    Owner: <%= @region.user.name %>
  </small>
</p>
<p><strong>Description:</strong><br /><%= @region.description %><p>

<hr style="clear:both;"/>
<% @region.locations.each do |location| %>
  <img class="img-polaroid" src="http://maps.googleapis.com/maps/api/streetview?size=200x150&location=<%= location.latitude %>,%20<%= location.longitude %>&sensor=false" />
<% end %>


<script type="text/javascript">
  /**
   * These variables are global in scope.
   * They are used by functions in polygon.js.
   */
  var map;
  var polygon;
  var markers = [];
  var locations = [];
  var path = new google.maps.MVCArray;

  // The google maps api requires us to use an onload initializer.
  window.onload = initialize;

  /**
   * Initializes are map.
   */
  function initialize() {

    var center = new google.maps.LatLng(<%= @region.latitude %>, <%= @region.longitude %>);
    var zoom = <%= @region.zoom %>;

    // Add polygon path
    <% @region.polygon_path.each do |latlng| %>
    path.push(new google.maps.LatLng(<%= latlng[:lat] %>, <%= latlng[:lng] %>));
    <% end %>

    // Initialize the map
    map = initializeMap('map', center, zoom, false);

    // Add location points
    <% @region.locations.each do |location| %>
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
        map: map
      });
    <% end %>
  }

</script>


s
