<% @study.region_set.regions.each_slice(2) do |region_row| -%>
  <div class="row show-grid">
  <% region_row.each do |region| -%>
  <div class="span6"
    <div id="map-<%= region.id %>" class="map span6" style="height:350px;"></div>
  <% end -%>
  </div>
<% end -%>

<script type="text/javascript">
  <% @study.region_set.regions.each do |region| %>
  var heatMapHandler<%= region.id %>;
  var polygonHandler<%= region.id %>;
  <% end %>

  window.onload = function () {

    <% @study.region_set.regions.each do |region| %>
    // Create array of weighted locations.
    var locations = [];
    <% @study.heatmaps[region.id].each do |location_id, location| %>
    locations.push({location: new google.maps.LatLng(<%= location['latitude'] %>, <%= location['longitude'] %>), weight: location['weight']});
    <% end %>

    // create polygon path
    var path = new google.maps.MVCArray;
    <% region.polygon_path.each do |latlng| %>
    path.push(new google.maps.LatLng(<%= latlng[:lat] %>, <%= latlng[:lng] %>));
    <% end %>

    // Set center of heat map
    var center = new google.maps.LatLng(<%= region.latitude %>, <%= region.longitude %>);

    // Creat heatmap
    heatMapHandler<%= region.id %> = new ss.handler.Heatmap('map-<%= region.id %>', center, <%= region.zoom %>, <%= @study.max_intensity %>, locations, path);
    <% end %>   
  }
</script>