<%= render 'analyze_header', :study => @study -%>

<% if @study.region_set.nil? %>
  <% if user_signed_in? && @study.user_id == current_user.id %>
    <p>You have not yet associated an Image Set. You can create a
      <%= link_to 'New Image Set', new_region_path() + '?study_id=' + @study.id.to_s() + '&create_set=true' %> or
       search for one below.</p>
  <% else %>
    <p>No image set has been associated with this study.</p>
  <% end %>
<% else %>
  <table class="table table-striped table-hover">
    <tr>
      <th>Area</th>
      <th><%= sortable_column "Name", :column => "name" %></th>
      <th><%= sortable_column "Locations", :column => "locations" %></th>
      <th><%= sortable_column "Times Favored", :column => "chosen" %></th>
      <th><%= sortable_column "Total Votes", :column => "total" %></th>
      <th><%= sortable_column "Percent Favored", :column => "percent_favored" %></th>
    </tr>
    <% @page_results.each do |region|
      total = region['chosen'].to_i + region['rejected'].to_i -%>
      <tr>
        <td>
          <a href="<%= url_for(:controller => "studies", :action => "curate", :id => @study) %>?region_id=<%= region['id'] %>"><img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= region['latitude'] %>,<%= region['longitude'] %>&zoom=<%= region['zoom'] %>&size=150x100&sensor=false"></a></td>
        <td><a href="<%= url_for(:controller => "studies", :action => "curate", :id => @study) %>?region_id=<%= region['id'] %>"><%= region['name'] %></a></td>
        <td><%= Region.find(region['id']).locations.count %></td>
        <td><%= region['chosen'].to_i %></td>
        <td><%= total %></td>
        <td><%= (region['chosen'].to_f / (total.nonzero? || 1).to_f * 100).round %> %</td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate(@page_results) %>
<% end %>
