<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @study.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @study.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @study.slug %>
</p>

<p>
  <b>Question:</b>
  <%= @study.question %>
</p>

<%# Allow editor to create add a region set if necessary %>
<% if @study.editable? && @study.region_set.nil? %>
  <p>You have not yet associated an Image Set. You can create a
     <%= link_to 'New Image Set', new_region_path() + '?study_id=' + @study.id.to_s() + '&create_set=true' %> or
     search for one below.</p>

<% end %>

<p>Before you can start collecting data, you must
<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>




