<h1>Study: <%= @study.name %></h1>
<p>
  <small>
  Slug: <%= @study.slug %><br />
  User: <%= @study.user.name %>
  </small>
</p>

<p>
  <strong>Description</strong><br />
  <%= @study.description %>
</p>
<p>
  <strong>Question</strong><br />
  Which place looks <%= @study.question %>?
</p>

<%# Allow editor to create add a region set if necessary %>
<% if (@study.user_id == current_user.uid) && @study.region_set.nil? %>
  <p>You have not yet associated an Image Set. You can create a
     <%= link_to 'New Image Set', new_region_path() + '?study_id=' + @study.id.to_s() + '&create_set=true' %> or
     search for one below.</p>
<% else %>
  <h3>Image Set</h3>
  <% @regions = @study.region_set.regions %>
  <%= render 'regions/list', :locations => @study.region_set.regions, :show_user=>false  %>
<% end %>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
