<% if session[:initial_setup].blank? %>
  <%= render 'shared/header', :study => @study %>
<% else %>
  <h1>Survey Questions</h1>
  <br/>
<% end %>

<% if @survey_questions.count == 0 %>
<p>
  Here you can add as many multiple choice questions as you need to complete your study.
  Keep in mind:
  <ol style="margin:35px 0px 35px 50px">
    
    <li style="margin-bottom:15px;">
      If you ask fewer questions, you will get more complete responses.</li>
    
    <li style="margin-bottom:15px;">
      
      <% if @study.public? %>
        Your study is <strong>public</strong> and participants may be identifiable. 
        <br />Do not collect sensitive information.
      <% else %>
        Your study is <strong>private</strong> now. <br />If you would like to make it public later, do not collect sensitive information. 
      <% end %>
      </li>

    <li style="margin-bottom:15px;">
      Survey responses will be available in the <em>Analyze > Download</em> section of your study.
      </li>
 
  </ol>
</p>
<p><%= link_to raw('<i class="icon-plus-sign"></i> Add your first question'), new_survey_question_path, class: 'btn' if @study.active.blank? %></p>
<% else %>
  <p><%= link_to raw('<i class="icon-plus-sign"></i> Add another question'), new_survey_question_path, class: 'btn' if @study.active.blank? %></p>
<% end %>





<table class="table table-striped">
  <tbody>

  <% @survey_questions.each do |survey_question| %>
    <tr>
      <td><%= survey_question.question %></td>
      <td>
        <% if @study.active.blank? %>
          <%= link_to 'Edit', edit_survey_question_path(survey_id: @survey_id, id: survey_question.id) %> |
          <%= link_to 'Delete', survey_question_path(survey_id: @survey_id, id: survey_question.id),
                      method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if @study.public? %>
<p style="font-size:.75em">
Responses are &nbsp;&nbsp;<span style="" class="label label-info"><i class="icon-globe icon-white"></i> PUBLIC</span><br />
Individuals may be identifiable by responses (ip address, location). 
Avoid collecting sensitive information. 
</p>
<%end%>

<br/>

<% if session[:initial_setup].present? %>
  <%= link_to raw('<i class="icon-ok icon-white"></i> Continue to regions'),
              new_region_path(study_id: @study.id, region_set_id: @study.region_set_id), class: 'btn btn-primary' %><br /><br />
<% end %>
<%= link_to 'Back to Study', edit_study_path(@study) %> 
