<%= simple_form_for(survey, form_options) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.input :name,
              label: 'Title', 
              input_html: {style: 'width:400px;'},
              hint: 'Respondents will see this as the title of the survey.' %>

  <%= f.input :description,
              label: 'Instructions / Description', 
              as: :text,
              input_html: {rows: 4, style: 'width:400px; height:200px'},
              hint: 'Provide instructions to respondents or describe how the data will be used.' %>

  <% if @study_id.present? %>
    <%= f.hidden_field :study_id,
                       value: @study_id %>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        <i class="icon-ok icon-white"></i> <%= submit_text %>
      </button>
    </div>
  </div>

<% end %>

<% if !@study.public? %>
<p style="font-size:.75em">
Your study is &nbsp;&nbsp;<span style="" class="label label-inverse"><i class="icon-lock icon-white"></i> PRIVATE</span><br />
All responses include data that could lead to identification of a respondent (ip address, location).<br />
Public studies provide a notice to respondents indicating results are public. 
Private studies include no such notice. <br />
If you plan to make your data public in the future, inform survey takers in the instructions.</p>
<%end%>