<%= simple_form_for(@survey, html: {class: 'form-horizontal'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.input :name,
              input_html: {style: 'width:400px;'},
              hint: 'The name of your survey.' %>

  <%= f.input :description,
              as: :text,
              input_html: {rows: 4, style: 'width:400px; height:200px'},
              hint: 'A sentence or two describing your survey.' %>

  <% if @study_id.present? %>
    <%= f.hidden_field :study_id,
                value: @study_id %>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        <i class="icon-ok icon-white"></i> Update Survey
      </button>
    </div>
  </div>

<% end %>
