<%= simple_form_for(survey, form_options) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.input :description,
              label: 'Instructions / Description', 
              as: :text,
              input_html: {rows: 4, style: 'width:400px; height:200px'},
              hint: 'Provide instructions to respondents or describe how the data will be used.' %>

  <% if @study_id.present? %>
    <%= f.hidden_field :study_id,
                       value: @study_id %>
  <% end %>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        <i class="icon-ok icon-white"></i> <%= submit_text %>
      </button>
    </div>
  </div>

<% end %>

