<h1><%= @survey.name %></h1>
<p><%= @survey.description %></p>


<%= simple_form_for @survey_form, url: survey_responses_path,
                    method: :post, as: :survey, html: {class: 'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>


  <% @survey.survey_questions.each do |q| %>
    <% question_type = q.multiple_choice ? :check_boxes : :radio_buttons %>
    <%= f.input "question#{q.id}",
                label: q.question,
                collection: q.survey_options,
                label_method: :option,
                value_method: :id,
                as: question_type %>
  <% end %>

  <%= f.hidden_field :study_id, value: @study.id %>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">
        <i class="icon-ok icon-white"></i> Submit Survey
      </button>
    </div>
  </div>
<% if @study.public? %>
<div class="row" style="margin-top:30px;">
  <div class="span12 skip-vote-row text-right">

    Responses are &nbsp;&nbsp;<span style="" class="label label-info"><i class="icon-globe icon-white"></i> PUBLIC</span>
  </div>
</div>
<%end%>

<% end %>
