<%= simple_form_for(@region) do |f| %>
  <%= f.input :name,
              :hint => 'A short, friendly name by which to remember this area.' %>
  <%= f.input :description,
              :as => :text,
              :input_html => { :rows => 4 },
              :hint => 'A sentence or two describing this area.' %>
  <% if !@study.nil? %>
    <%= hidden_field_tag :study_id, @study.id %>
  <% end %>
  <% if !@create_set.nil? %>
    <%= hidden_field_tag :create_set,  true %>
  <% end %>

  <% if true %>
    <div id="map" style="width: 500; height: 350;"></div>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :zoom %>
    <%= f.input :polygon %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Create Area' %>
  </div>


<% end %>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
  /**
   * This code is based on this example
   * http://gmaps-samples-v3.googlecode.com/svn/trunk/poly/poly_edit.html
   */
  var poly, map;
  var markers = [];
  var path = new google.maps.MVCArray;
  window.onload = initialize;

  function initialize() {

    map = new google.maps.Map(document.getElementById("map"), {
      zoom: 5,
      center: new google.maps.LatLng(40, -80),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    poly = new google.maps.Polygon({
      strokeWeight: 3,
      fillColor: '#5555FF'
    });
    poly.setMap(map);
    poly.setPaths(new google.maps.MVCArray([path]));

    google.maps.event.addListener(map, 'click', addPoint);
  }

  function addPoint(event) {
    path.insertAt(path.length, event.latLng);

    var marker = new google.maps.Marker({
      position: event.latLng,
      map: map,
      draggable: true
    });
    markers.push(marker);
    marker.setTitle("#" + path.length);

    google.maps.event.addListener(marker, 'click', function() {
      marker.setMap(null);
      for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
      markers.splice(i, 1);
      path.removeAt(i);
      }
    );

    google.maps.event.addListener(marker, 'dragend', function() {
      for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
      path.setAt(i, marker.getPosition());
      }
    );
    if (markers.length > 0) {
      var value = markers[0].position;
      for (var i = 1; i < markers.length; ++i) {
        value = value + ', ' + markers[i].position;
      }
      document.getElementById('region_polygon').value = value;
      document.getElementById('region_zoom').value = map.zoom;

      var center = map.getCenter();
      document.getElementById('region_latitude').value = center.lat();
      document.getElementById('region_longitude').value = center.lng();
    }
  }
</script>

