<table>
  <tr>
    <% if show_user  %>
      <th>User</th>
    <% end %>
    <th>Slug</th>
    <th>Name</th>
    <th>Public</th>
    <th></th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <% if show_user  %>
      <td><%= region.user_id %></td>
    <% end %>
    <td><%= region.slug %></td>
    <td><%= region.name %></td>
    <td><%= region.public %></td>
    <td>
      <%= link_to 'Show', region %>
      <% if region.editable? %>
      | <%= link_to 'Edit', edit_region_path(region) %>
      | <%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
