<h1>Dashboard</h1>

<h2>Studies</h2>
<%= render 'studies/list', :studies => @studies, :show_user => false %>
<%= link_to 'New Study', new_study_path %>

<h2>Image Sets</h2>
<%= render 'region_sets/list', :region_sets => @region_sets, :show_user => false %>
<%= link_to 'New Region Collection', new_region_set_path %>

<h2>Areas</h2>
<%= render 'regions/list', :regions => @regions, :show_user => false %>
<%= link_to 'New Region', new_region_path %>
