<div class="span4">
  <a class="brand" href="<%= :home %>"><%= image_tag("SS-icon-sm.png", :alt => "", :class => 'ss-icon') %></a>
  <h3><%= t '.trio1.title' %></h3>
  <p>This the demo version of StreetSeen v.1.0.  Currently, you can vote on existing 
  test studies by selecting one of the images above.  Soon, you'll be able to create your own studies and
  distribute them for voting.</p>
  <p><%= link_to "Click here", :notify %> to receive email notification when the site is live</p>
</div>
<div class="span4">
  <a class="brand" href="<%= :home %>"><%= image_tag("SS-icon-sm.png", :alt => "", :class => 'ss-icon') %></a>
  <h3><%= t '.trio2.title' %></h3>
  <%= link_to image_tag("FinalPerspective.jpg", :alt => "TechniCity on Coursera", :class => 'TC-icon'), "https://www.coursera.org/course/techcity" %>
  <p>This app was born to support <a href="https://www.coursera.org/course/techcity">TechniCity</a>, a Coursera course taught by Jennifer Evans-Cowley and 
  Thomas W. Sanchez.
    </p>
</div>
<div class="span4">
  <a class="brand" href="<%= :home %>"><%= image_tag("SS-icon-sm.png", :alt => "", :class => 'ss-icon') %></a>
  <h3><%= t '.trio3.title' %></h3>
  <p>Welcome to StreetSeen.  Let us know what you think!</p>
  <p><a href="http://www.twitter.com/osustreetseen">Tweet @OSUStreetSeen</a> or <a href="mailto:cowley.11@osu.edu">email us</a>. The 
  feedback of our users is essential to the continued evolution of StreetSeen. </p>
</div>

