<%# #link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to t('.about'), about_path %></li>
  <li><%= link_to t('.help'), help_path %></li>
  <li><a href="https://www.coursera.org/course/techcity"><%= t '.technicity' %></a></li>
  <!--  
  <li><%= link_to t('.public_studies'), studies_path %></li>
  <% if user_signed_in? %>
    <li><%= link_to t('.my_research'), studies_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.email %>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to t('.edit_profile'), edit_user_registration_path %></li>
        <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
  <% else %>
    <li><%= link_to t('.login'), new_user_session_path %></li>
  <% end %>
  --> 
</ul>



<!-- OLD 
  <li class="dropdown">
    <a href="/dashboard" class="dropdown-toggle" data-toggle="dropdown">Public Studies 
    <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/studies">Studies</a></li>
      <li><a href="/imagesets">Image Sets</a></li>
      <li><a href="/regions">Areas</a></li>
    </ul>
  </li>
  <% if user_signed_in? %>
    <li class="dropdown">

    </li>
  <% end %>

  
</ul>
<%= link_to "Sign up", new_user_registration_path %>
-->
