<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?libraries=geometry,streetview&sensor=false' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= yield(:head) %>
  </head>
  <body >
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
              <a class="brand" href="<%= :home %>"><%= image_tag("SS-banner-sized.png", :alt => "StreetSeen") %></a>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse" style="padding-right: 210px;">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      </div>
    </div>

    <!-- MF - remove in production -->
    <div class="overlay-corner">
    <%= link_to image_tag("SS-corner.png", :alt => "Email Us"), :notify %>
    </div>
    <div id="main" role="main">

      <div class="container">
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <div class="row" id="bottom-trio">
          <%= render "layouts/bottom_trio" %>
        </div>
      </div>

        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <%= yield :scripts %>
    <script type="text/javascript">
      $('.label-with-popover').popover();
    </script>
  </body>
</html>
