<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t(:site_name) %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body >
    <div class="overlay-corner">
    <%= link_to image_tag("SS-corner.png", :alt => "Email Us"), {:action => 'new', :controller => 'notifications'} %>
    </div>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="home"><%= t :site_name %></a>
          <div class="nav-collapse">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      </div>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <div class="row" id="bottom-trio">
          <div class="span4">
          <h3><%= t '.trio1.title' %></h3>
          <p><%= t '.trio1.text' %></p>
          </div>
          <div class="span4">
          <h3><%= t '.trio2.title' %></h3>
          <p><%= t '.trio2.text' %></p>
          </div>
          <div class="span4">
          <h3><%= t '.trio3.title' %></h3>
          <p><%= t '.trio3.text' %></p>
          </div>
      </div>

        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    <%= yield :scripts %>
    <script type="text/javascript">
      $('.label-with-popover').popover();
    </script>
  </body>
</html>
